---
export const prerender = true;

import { render } from "astro:content";
import { getCollection } from "astro:content";
import Header from "../../layouts/header.astro";
import Wrapper from "@/layouts/wrapper.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<head><meta charset="utf-8" /></head>
<Wrapper title={post.data.title}>
  <Header />

  <img
    src={post.data.cover}
    alt=""
    class="aspect-video rounded-xl overflow-hidden w-[95%] object-cover mx-auto max-w-[1280px] my-10"
  />
  <section class="mx-auto px-4 prose max-w-4xl">
    <h1 class="md:text-4xl text-xl font-bold mb-6">{post.data.title}</h1>
    <Content />
    <footer class="py-4 border-t border-border">
      <p>Written by {post.data.author}</p>
    </footer>
  </section>
</Wrapper>
