---
import "../style/fonts.css";
import "../style/styles.css";

import Header from "../layouts/header.astro";
import Hero from "../layouts/hero.astro";
import Carousel from "../layouts/carousel.astro";
import BlogIndex from "../layouts/blog-index.astro";
import PhotographyIndex from "../layouts/photography-index.astro";
import ProjectsIndex from "../layouts/projects-index.astro";
import WhatsNew from "../layouts/whats-new.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b26177d2bb.js"
      crossorigin="anonymous"></script>

    <title>Astro</title>
  </head>
  <body>
    <main>
      <Header />

      <Hero />
      <WhatsNew />
      <Carousel />

      <BlogIndex />
      <ProjectsIndex />
      <PhotographyIndex />
    </main>
  </body>
</html>
