---
import Header from "../layouts/header.astro";
import Hero from "../layouts/hero.astro";
import Carousel from "../layouts/carousel.astro";
import PhotographyIndex from "../layouts/photography-index.astro";
import ProjectsIndex from "../layouts/projects-index.astro";
import Wrapper from "../layouts/wrapper.astro";
import Section from "@/layouts/section.astro";
---

<Wrapper title="Tyrel Chambers">
  <main>
    <Header />

    <Hero />
    <Carousel />

    <Section
      tag="Check out the blog"
      title="Code & Context"
      href="https://blog.tyrelchambers.com"
    />

    <ProjectsIndex />
    <PhotographyIndex />
  </main>
</Wrapper>
