---
import Header from "../layouts/header.astro";
import Hero from "../layouts/hero.astro";
import Carousel from "../layouts/carousel.astro";
import BlogIndex from "../layouts/blog-index.astro";
import PhotographyIndex from "../layouts/photography-index.astro";
import ProjectsIndex from "../layouts/projects-index.astro";
import WhatsNew from "../layouts/whats-new.astro";
import Wrapper from "../layouts/wrapper.astro";
---

<Wrapper title="Hey there">
  <main>
    <Header />

    <Hero />
    <WhatsNew />
    <Carousel />

    <BlogIndex />
    <ProjectsIndex />
    <PhotographyIndex />
  </main>
</Wrapper>
