@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 52 94% 99%;
  --foreground: 0 0% 0%;
  --border: 73 31% 82%;
  --muted: 73 21% 42%;

  --primary: 337 41% 30%;
  --secondary: 517 41% 90%;
  --secondary-foreground: 517 41% 30%;
}

body,
html {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  @apply text-foreground;
}

#marquee {
  --gap: 5em;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);

  justify-content: space-around;
}

.scroll {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.photo-grid {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry; */
}

@layer components {
  .project-list-item:hover {
    height: 1000px;
  }

  .project-list-item:hover > img {
    @apply w-full;
  }

  .project-list-item:hover h3 {
    @apply mix-blend-normal underline text-foreground;
  }
  .project-list-item h3 {
    @apply font-bold text-[7rem] text-background mb-2 flex justify-between items-center  drop-shadow-2xl mix-blend-exclusion leading-none;
  }

  .project-list-item header {
    @apply absolute z-10 left-[10%] bottom-[20%];
  }

  .project-list-item:hover header {
    @apply left-[0%] bottom-[10%];
  }

  .project-list-item header > p {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .project-list-item:hover header > p {
    opacity: 1;
  }

  .project-list-item > img {
    @apply object-cover shadow-xl rounded-xl absolute top-0 right-0 w-4/5 aspect-video transition-all;
  }
}
