@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52 94% 99%;
    --foreground: 0 0% 0%;
    --border: 73 31% 82%;
    --muted: 73 21% 42%;

    --primary: 337 41% 30%;
    --secondary: 517 41% 90%;
    --secondary-foreground: 517 41% 30%;
  }
}

body,
html {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  @apply text-foreground;
}

#marquee {
  --gap: 5em;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);

  justify-content: space-around;
}

.scroll {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@layer components {
  .project-list-item:hover {
    @apply lg:h-[850px] xl:h-[1000px] h-fit;
  }

  .project-list-item:hover > img {
    @apply w-full;
  }

  .project-list-item:hover h3 {
    @apply mix-blend-normal underline text-foreground;
  }
  .project-list-item h3 {
    @apply font-bold text-xl lg:text-[7rem] text-foreground mt-6 lg:mt-0 lg:text-background mb-2 flex justify-between items-center  drop-shadow-2xl mix-blend-exclusion leading-none;
  }

  .project-list-item header {
    @apply lg:absolute z-10 lg:left-[10%] lg:bottom-[20%];
  }

  .project-list-item:hover header {
    @apply left-[0%] bottom-[10%];
  }

  .project-list-item header > p {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply opacity-100 lg:opacity-0;
  }

  .project-list-item:hover header > p {
    opacity: 1;
  }

  .project-list-item > img {
    @apply object-cover shadow-xl rounded-xl lg:absolute lg:top-0 lg:right-0 lg:w-4/5 w-full aspect-video transition-all;
  }

  .whats-new-overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, white 0%, rgba(52, 94, 99, 0) 100%);
    z-index: 10;
  }
}
