---
import { getCollection } from "astro:content";
import Section from "../layouts/section.astro";
import BlogPost from "../components/BlogPost.astro";
const posts = await getCollection("blog");
---

<Section title="The blog" tag="The ramble zone">
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {posts.map((post) => <BlogPost post={post} />)}
  </section>
</Section>
