---
import Socials from "./socials.astro";
---

<section class="px-20 border-border border-t py-20 items-center">
  <section
    class="grid grid-cols-2 items-center max-w-screen-2xl mx-auto justify-center"
  >
    <div class="flex flex-col max-w-3xl gap-6">
      <h2 class="font-poppins font-bold text-7xl leading-tight text-primary">
        Photographer. Software Developer. Narrator.
      </h2>
      <p class="text-foreground text-xl font-light leading-relaxed">
        Hey, checkout my portfolio! I like the idea of writing so you'll find
        some sort of blog here. But, you'll also find some of my photography and
        some projects I've been working on. Check out my narration channel too
        and if you know the developers of S.T.A.L.K.E.R, tell them I want to
        voice act in one of their games.
      </p>
    </div>

    <Socials />
  </section>
</section>
