---
import Socials from "./socials.astro";
---

<section class="px-20 border-border border-t py-20 items-center">
  <section
    class="grid grid-cols-2 items-center max-w-screen-2xl mx-auto justify-center"
  >
    <div class="flex flex-col max-w-3xl gap-6">
      <h2 class="font-poppins font-bold text-7xl leading-tight text-primary">
        Photographer. Software Developer. Narrator.
      </h2>
    </div>

    <Socials />
  </section>
</section>
