---
import Socials from "./socials.astro";
---

<section class="lg:px-20 px-4 border-border border-t py-20 items-center">
  <section
    class="grid grid-cols-1 lg:grid-cols-2 items-center max-w-screen-2xl mx-auto justify-center"
  >
    <div class="flex flex-col max-w-3xl gap-6">
      <h2
        class="font-poppins font-bold lg:text-7xl md:text-5xl text-2xl text-center lg:text-left leading-tight text-primary"
      >
        Photographer. Software Developer. Narrator.
      </h2>
    </div>

    <Socials />
  </section>
</section>
