---
import Section from "./section.astro";
import { projects } from "../data/projects";
---

<Section title="The projects" tag="I love building things">
  <div class="flex flex-wrap gap-10">
    {
      projects.map((p) => (
        <a
          href={p.link}
          class="flex flex-col border border-secondary p-6 rounded-xl flex-1"
        >
          <h3 class="font-bold text-3xl font-poppins text-secondary-foreground mb-2 flex justify-between items-center hover:underline">
            {p.title}

            <i class="fa-solid fa-arrow-up-right-from-square text-lg" />
          </h3>
          <p class="text-foreground/70">{p.description}</p>
        </a>
      ))
    }
  </div>
</Section>
