---
import Section from "./section.astro";
import { projects } from "../data/projects";
---

<Section title="The projects" tag="I love building things">
  <div class="flex flex-col gap-10">
    {
      projects.map((p) => (
        <a
          href={p.link}
          class="block relative max-w-screen-xl w-full h-[800px] project-list-item transition-all reverse"
        >
          <img src={p.image} alt="" class="" />

          <header class="transition-all mix-blend-difference">
            <h3 class="font-poppins">{p.title}</h3>
            <p class="text-foreground/70 text-xl mt-4 font-medium uppercase">
              {p.description}
            </p>
          </header>
        </a>
      ))
    }
  </div>
</Section>
